.user-profile {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-banner {
  width: 100%;
  max-width: 600px;
  background: linear-gradient(135deg, rgba(29, 185, 84, 0.8), rgba(33, 215, 96, 0.8)); /* Gradient background */
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}

.profile-image-container {
  flex-shrink: 0;
  cursor: pointer; /* Pointer cursor to indicate clickability */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  display: inline-block; /* Ensures container fits image size */
}

.profile-image-container:hover .profile-image {
  transform: scale(1.05); /* Zoom effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff; /* White border */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.profile-details {
  margin-left: 20px;
  color: #fff;
  text-align: left;
}

.profile-name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile-info {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
}

.profile-info strong {
  font-size: 20px;
  font-weight: 600;
}
